* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* header {
  padding: 25px;
} */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 15px;
}
ul li {
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: #575757;
}
.common-btn {
  padding: 10px 32px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
} */
.banner-parent {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    url("./B14-A01-DevConf-2026/assets/banner.jpg");
  height: 786px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 220px;
  text-align: center;
  color: white;
}

.banner-inside h1 {
  margin-bottom: 16px;
  font-weight: 600px;
  font-size: 80px;
}
.banner-inside p {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 390px;
}
.common-btn-2 {
  padding: 16px 55px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  border-radius: 6px;
  font-size: 25px;
  font-weight: bold;
}
/*
.speaker-parent {
  padding-bottom: 90px;
}
.speaker-h {
  text-align: center;
  font-size: 50px;
  font-weight: 600px;
  padding: 70px;
}
.speaker-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;

  overflow: hidden;
}

.card h3 {
  color: #2563eb;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 30px;
  margin-top: 20px;
}
.card h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 30px;
}
.card p {
  color: #575757;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 40px;
  padding-left: 30px;
}
.secure-parent {
  width: 80%;
  margin: 0 auto;
 
}
.secure-head {
  text-align: center;
  margin-bottom: 45px;
}
.secure-head h1 {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 15px;
}
.secure-head p {
  font-size: 15px;
  color: #575757;
  margin-bottom: 15px;
}
.secure-child {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
}

span {
  color: #888888;
}
.span-1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}
hr {
  margin: 20px auto;
}
.card-1 {
  display: grid;
  gap: 10px;
}
.outline-btn-dot button {
  border: none;
  background-color: #1d4ed8;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 17px;
  width: 270px;
  height: 40px;
  text-align: center;
  padding-left: 20px;
  margin-top: 65px;
}
.outline-btn button {
  border: 1px solid #1d4ed8;
  background-color: white;
  color: #1d4ed8;
  border-radius: 6px;
  font-weight: normal;
  width: 270px;
  height: 40px;
  text-align: center;
  padding-left: 20px;
  margin-top: 20px;
}
.secure-list {
  padding-left: 20px;
  display: grid;
  gap: 10px;
  font-size: 5px;
  font-size: normal;
  color:  #575757;
}
.secure-list-type {
  padding-left: 20px;
  display: grid;
  gap: 10px;
  font-size: 10px;
   color:  #575757;
}
.secure-card {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
}
.type {
  background-color: #0d1b2a;
  color: white !important;
}
.pro {
  color: #1d4ed8;
}
li::marker {
  color: blue;
}
.schedule {
  width: 80%;
  margin: 80px auto;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
}

.heading h2 {
  font-size: 42px;
  color: #1e293b;
  margin-bottom: 10px;
}

.heading p {
  font-size: 18px;
  color: #64748b;
}

.timeline {
  border-left: 4px solid #2563eb;
  padding-left: 40px;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

.event::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #2563eb;
  border-radius: 50%;
  position: absolute;
  left: -51px;
}

.time {
  width: 130px;
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-right: 30px;
}

.time h3 {
  font-size: 28px;
}

.time span {
  font-size: 14px;
  letter-spacing: 2px;
}

.content {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.1s;
}

.content:hover {
  background-color: skyblue;
}

.content h3 {
  color: #1e293b;
  margin-bottom: 10px;
  font-size: 24px;
}

.content p {
  color: #64748b;
  line-height: 1.7;
}
.footer {
  color: white;
  background-color: #0d1b2a;
}
.footer-first,
.footer-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  
}
.footer-1 a {
  text-decoration: none;
  color: white;
}

.footer-first .foot h4
{
     display: inline-block;
} */

